html, body {
  --height-search: 46px;
  --font-chinese: 'Kaiti SC', 'Times New Roman', sans-serif;
  --font-regular: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  --size-icon: 18px;


  padding: 0;
  margin: 0;
}

@media (max-width: 700px) {
  body {
    --size-icon: 24px;
  }
}

body, input {
  font-family: var(--font-regular);
}

.icon {
  display: inline-block;
  width: var(--size-icon);
  height: var(--size-icon);
  line-height: var(--size-icon);
  border-radius: var(--size-icon);
  text-align: center;
  border: 1px solid rgba(0,0,0,.3);
  background: rgba(0,0,0,.03);
  cursor: pointer;
  color: rgba(0,0,0,.5);
}

.icon:hover {
  background: rgba(0,0,0,.07);
}

.words {
  max-width: 700px;
  width: 100%;
  border-collapse: collapse;
  margin: var(--height-search) auto 100px auto;
}

.words td {
  padding: 4px 0;
}

.words tr:nth-child(odd) td {
  background: #f6f6f6;
}

.words tr:hover td {
  background: #eee;
}

.words__han {
  font-family: var(--font-chinese);
  display: inline-block;
  min-width: 90px;
  font-size: 22px;
  padding-left: 10px;
}

.words__han.m-selected:after {
  content: attr(data-text);
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 13px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.words__play {
  font-size: 11px;
  font-family: var(--font-regular);
  text-indent: 2px;
  vertical-align: top;
  margin-top: 1px;
  transform: translate(5px, 0);
}

.words__play:after {
  content: '▶';
}

.words__play.m-playing:after {
  content: '=';
  transform: rotate(90deg) scale(1.2, 1.8) translate(-0.6px,-0.9px);
  font-weight: bold;
  display: block;
}

.search {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}

.search__panel {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 700px;
  height: var(--height-search);
}

.search__input {
  width: 100%;
  box-shadow: 0 8px 5px -5px rgba(0,0,0,0.07);
  padding: 10px 15px 10px 33px;
  box-sizing: border-box;
  height: var(--height-search);
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 16px;
}

.info__icon {
  font-size: 14px;
  font-style: normal;
  position: absolute;
  z-index: 1;
  top: calc((var(--height-search) - var(--size-icon)) / 2);
  left: calc((var(--height-search) - var(--size-icon)) / 2);
  transform: translate(-9px, -1px);
}

.info__block {
  position: absolute;
  top: var(--height-search);
  background: #ffffff;
  box-shadow: 0 1px 3px 2px rgba(0,0,0,.03),
    0 10px 23px 0 rgba(0,0,0,.1),
    0 0 0 1px rgba(0,0,0,.03);
  border-radius: 3px;
  left: 5px;
  margin-top: 4px;
  padding: 15px;
  text-align: left;
  white-space: normal;
  max-width: calc(100% - 40px);
}

.info__block:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ffffff;
  top: -5px;
  left: 5px;
  transform: scaleX(0.8) rotate(45deg);
  box-shadow: -1px -1px 0 rgba(0,0,0,.07);
}

.info__section {
  padding-top: 18px;
}

.info__heading + .info__section {
  padding-top: 12px;
}

.info__heading {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.info__examples {
  font-size: 0.9rem;
  color: gray;
  padding-top: 4px;
}

.info__tag {
  color: #636049;
  background: #FAF8E3;
  padding: 2px 3px 1px 3px;
  border-bottom: 2px solid #f2f0db;
  border-radius: 2px;
  cursor: pointer;
}

.info__tag:hover {
  background: #f0eed9;
  border-bottom-color: #e5e3ce;
}

@media (max-width: 700px) {
  .search__input {
    padding-left: 54px;
  }
  .info__icon {
    transform: translate(0px, -2px);
  }
}

.search__clear {
  display: inline-block;
  height: calc(var(--height-search) - 8px);
  width: calc(var(--height-search) - 4px);
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 30px;
  line-height: 36px;
  cursor: pointer;
  z-index: 1;
  vertical-align: top;
  background: #fff;
  text-indent: 3px;
}

.tags {
  position: absolute;
  right: var(--height-search);
  white-space: nowrap;
  top: 8px;
  background: #fff;
  box-shadow: 0 0 0 3px #fff;
}

.tags__item {
  display: inline-block;
  border: 1px solid rgba(0,0,0,.25);
  padding: 0 0 0 3px;
  font-family: var(--font-chinese);
  font-size: 23px;
  position: relative;
  overflow: hidden;
  line-height: 27px;
  border-radius: 5px;
}

.tags__remove {
  font: normal 21px/27px Arial;
  vertical-align: top;
  display: inline-block;
  background: rgba(0,0,0,.03);
  padding: 0 7px;
  color: rgba(0,0,0,.6);
  margin-left: -2px;
  border-left: 1px solid rgba(0,0,0,.25);
  cursor: pointer;
  user-select: none;
}

.tags__remove:hover {
  background: rgba(0,0,0,.08);
}

.radicals {
  background: #fffeef;
  box-shadow: 0 8px 5px -5px rgba(0,0,0,0.07);
  position: absolute;
  top: var(--height-search);
  margin: 0;
  padding: 10px 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  max-height: 280px;
  overflow-y: auto;
}

.radicals__li {
  margin: 0;
  vertical-align: top;
}

.radicals__li.m-selected {
  background: #FAF8E3;
}

.radicals__label {
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 3px 15px;
}

.radicals__radical {
  font-family: var(--font-chinese);
  font-size: 20px;
  display: inline-block;
  padding-left: 7px;
  width: 30px;
}

.radicals__non-canonical {
  color: #efe934;
  transform: scale(1.5) translateY(-1px);
  display: inline-block;
}



@media (max-width: 700px) {
  body {
    --height-search: 50px;
    background: white;
  }
  .search {
    background: white;
    box-shadow: 0 -25px 0 white;
  }
  .words__play {
    margin: 0 8px;
  }
  .search__input {
    outline: none;
  }
}
