html, body {
  padding: 0;
  margin: 0;
}

body, input {
  --height-search: 46px;
  --font-chinese: 'Kaiti SC', 'Times New Roman', sans-serif;
  --font-regular: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  font-family: var(--font-regular);
}

.words {
  max-width: 700px;
  width: 100%;
  border-collapse: collapse;
  margin: var(--height-search) auto 100px auto;
}

.words td {
  padding: 4px 0;
}

.words tr:nth-child(odd) td {
  background: #f6f6f6;
}

.words tr:hover td {
  background: #eee;
}

.words__han {
  font-family: var(--font-chinese);
  display: inline-block;
  min-width: 90px;
  font-size: 22px;
  padding-left: 10px;
}

.words__han.m-selected:after {
  content: attr(data-text);
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 13px rgba(0,0,0,0.1);
  text-align: center;
  font-size: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.words__play {
  font-family: var(--font-regular);
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.3);
  background: rgba(0,0,0,.03);
  cursor: pointer;
  text-indent: 1px;
  vertical-align: top;
  margin-top: 4px;
  font-size: 13px;
  color: rgba(0,0,0,.5);
  transform: translate(5px, 0);
}

.words__play:after {
  content: '▶';
}

.words__play.m-playing:after {
  content: '=';
  transform: rotate(90deg) scale(1.2, 1.8) translate(0,-1px);
  font-weight: bold;
  display: block;
}

.words__play:hover {
  background: rgba(0,0,0,.07);
}

.search {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap;
  z-index: 2;
}

.search__panel {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 700px;
  height: var(--height-search);
}

.search__input {
  width: 100%;
  box-shadow: 0 8px 5px -5px rgba(0,0,0,0.07);
  padding: 10px 15px;
  box-sizing: border-box;
  height: var(--height-search);
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 16px;
}

.search__clear {
  display: inline-block;
  height: calc(var(--height-search) - 8px);
  width: calc(var(--height-search) - 4px);
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 30px;
  line-height: 36px;
  cursor: pointer;
  z-index: 1;
  vertical-align: top;
  background: #fff;
  text-indent: 3px;
}

.tags {
  position: absolute;
  right: var(--height-search);
  white-space: nowrap;
  top: 8px;
  background: #fff;
  box-shadow: 0 0 0 3px #fff;
}

.tags__item {
  display: inline-block;
  border: 1px solid rgba(0,0,0,.25);
  padding: 0 0 0 3px;
  font-family: var(--font-chinese);
  font-size: 23px;
  position: relative;
  overflow: hidden;
  line-height: 27px;
  border-radius: 5px;
}

.tags__remove {
  font: normal 21px/27px Arial;
  vertical-align: top;
  display: inline-block;
  background: rgba(0,0,0,.03);
  padding: 0 7px;
  color: rgba(0,0,0,.6);
  margin-left: -2px;
  border-left: 1px solid rgba(0,0,0,.25);
  cursor: pointer;
}

.tags__remove:hover {
  background: rgba(0,0,0,.08);
}

.radicals {
  background: #fffeef;
  box-shadow: 0 8px 5px -5px rgba(0,0,0,0.07);
  position: absolute;
  top: var(--height-search);
  margin: 0;
  padding: 10px 0;
  list-style: none;
  width: 100%;
  box-sizing: border-box;
  max-height: 224px;
  overflow-y: auto;
}

.radicals__li {
  margin: 0;
  vertical-align: top;
}

.radicals__label {
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 3px 15px;
}

.radicals__label:hover {
  background: #FAF8E3;
}

.radicals__radical {
  font-family: var(--font-chinese);
  font-size: 20px;
  display: inline-block;
  padding-left: 7px;
  width: 30px;
}

.radicals__non-canonical {
  color: #efe934;
  transform: scale(1.5) translateY(-1px);
  display: inline-block;
}
